<div class="mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 col-sm-6 offset-md-3 col-lg-4 offset-lg-4">
                <div>
                    <div class="text-center title fs-lg text-bold text-upper">
                        Create My Account
                    </div>
                </div>
                <hr>
                <div class="alert alert-danger" *ngIf="error.show == true">
                    {{ error.message }}
                </div>

                <form (ngSubmit)="submit()" [formGroup]="form">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="fname">First Name</label>
                                <input (change)="init()" type="text" formControlName="fname" class="form-control" placeholder="Jean"/>
                            </div>
                            <div class="col-md-6">
                                <label for="fname">Last Name</label>
                                <input (change)="init()" type="text" formControlName="lname" class="form-control" placeholder="Mbarga"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="company">Your Company's Name</label>
                        <input placeholder="Planify" (change)="init()" type="text" class="form-control" id="compay" formControlName="company" required/>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input placeholder="jean.mbarga@planify.com" (change)="init()" type="email" class="form-control" id="email" formControlName="email" required/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input placeholder="**********" (change)="init()" type="password" class="form-control" id="password" formControlName="password" required/>
                    </div>
                    <div class="form-group">
                        <label for="password2">Confirm Your Password</label>
                        <input placeholder="**********" (change)="init()" type="password" class="form-control" id="password2" formControlName="password2" required/>
                    </div>
                    <div class="form-group">
                        By clicking on 'create account' you are accepting our terms of usage and privacy policy.
                    </div>
                    
                    <div class="form-group">
                        
                        <button class="btn btn-primary btn-block" disabled *ngIf="isLoading == true;else noLoading"> <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i> Submitting ...</button>
                        <ng-template #noLoading>
                            <button type="submit" class="btn btn-primary btn-block">Create Account</button>
                        </ng-template>                        
                    </div>
                </form>
                <div class="text-center">
                    Already have an account? <a href="/login">Sign in to Planify.</a>
                </div>
            </div>
        </div>
    </div>
</div>