<div id="delete-link" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Supprimer Lien</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form [formGroup]="deleteForm" (ngSubmit)="submitDeleteLink()">
              <div class="modal-body">
                <p class="text-center">
                  Voulez vous vraiment supprimer cette donnée ?
                </p>
                <input type="hidden" formControlName="id"/>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Valider</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
              </div>
              
          </form>
        </div>
      </div>
    </div>

<div #gantt_here class='gantt-chart'></div>