.side{
    position: absolute;
    z-index: 9;
    height: calc(100% - 42px);
    width: 300px;
    left : calc(100% - 300px);
    background : white;
    border-left : 1px solid #eaeaea;
    padding : 10px;
    font-size : 10px;
    color : #888;
    overflow-y: scroll;
}
.side ._title{
    text-transform: uppercase;
    font-weight: 600;
    color : #aaa;
    margin-bottom: 10px;
}
.side.reduced{
    width: 48px;
    left : calc(100% - 48px);
    background-color : white;
}
.side.reduced .block, .side.reduced .icon-close{
    display: none;
}
.side.reduced .icon-open{
    display: block;
    text-align: center;
    margin: auto;
}
.side.opened .icon-close{
    display: block;
    text-align: right;
}
.side.opened .icon-open{
    display: none;
}
.icon-close,.icon-open{
    cursor: pointer;
}